* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p {
    white-space: normal;
}

h1 {
    white-space: normal;
}

body {
    font-family: Segoe UI;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

/* Nav Bar.*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 5px black;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: lightgray;
    transition: .4s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
    color: white;
}

.navbar a {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    display: inline-block;
}

.navbar a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px white;
}

#check {
    display: none;
}

#chech:disabled {
    pointer-events: none !important;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 1.8rem;
    color: lightgray;
    cursor: pointer;
    display: none;
    transition: .4s ease-in-out;
}

.icons:hover {
    transform: scale(1.5);
    color: white;
}

/* br point */
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }

}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        height: 0%;
        overflow: hidden;
        background: rgba(235, 235, 235, 0.5);
        transition: .3s ease;
        box-shadow: 0 0 1px black;
        border-radius: 15px;
    }

    #check:checked~.navbar {
        height: 12.7rem;
    }

    .navbar a {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
        text-shadow: 0 0 5px black;
        margin: 1.5rem 0;
        text-align: center;
        transition: .3s ease-in-out !important;
    }

    .navbar a:hover {
        text-shadow: 0 0 30px rgb(255, 255, 255);
        transform: scale(1.4);
        text-decoration: underline;
        color: rgb(255, 255, 255);
        background: rgba(199, 199, 199, 0.7);
    }

    .back-video {
        width: auto;
        height: 100%;
    }

    .wrapper img {
        width: 100%;
    }

    .wrapper {
        margin: 30px auto;
    }
}

/* Card */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    overflow: hidden;
    height: 170px;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.card a {
    transform: scale(1);
    transition: .4s ease-in-out;
}

.card a:hover {
    transform: scale(1.1);
    background-color:rgb(206, 206, 206);
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

.card .fuoto {
    height: 200px;
    overflow: hidden;
}

.card .fuoto img {
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
}

.card .fuoto img:hover {
    transform: scale(1.2);
}

.skrl {
    margin-top: 5%;
}

.skrl h1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-wrap: nowrap;
}

.footer {
    margin-top: 40px;
    padding: 20px 0;
    background-color: #eeeeee;
}

.footer .social {
    text-align: center;
    padding-bottom: 1px;
    color: #4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    transition: .3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.copyright {
    text-align: center;
    font-size: small;
    color: #6b6b6b;
    background: rgb(219, 219, 219);
    padding: 10px;
    transition: .3s ease-in-out;
}

.copyright:hover {
    background: rgb(49, 49, 49);
    color: white;
    text-shadow: 0 0 5px white;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,53,0.3),rgba(12,3,53,0.3));
    position: relative;
    background-position: center;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.konten {
    text-align: center;
}

.konten h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.konten h1:hover {
    transform: translate(0, 5px);
    text-shadow: 0 0 20px white;
}

.konten a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: .4s ease-in-out;
}

.konten a:hover {
    transform: scale(1.2);
    backdrop-filter: blur(10px);
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.item {
    position: absolute;
    align-self: self-end;
    width: 100%;
    height: 8%;
    background: rgba(255, 255, 255, 0.26);
    color: transparent;
    backdrop-filter: blur(10px);
}

.wrapper {
    margin: 60px auto;
    overflow: hidden;
    width: 70%;
    justify-content: center;
    align-items: center;
    background: rgb(235, 235, 235);
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;
}

.wrapper img {
    max-width: 320px;
    float: left;
    margin-right: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.wrapper:hover {
    transform: translate(0, 7px);
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.text-box p {
    font-size: 14px;
}

.text-box h2 {
    margin-bottom: 10px;
}

.card#blur .active {
    filter: blur(20px);
}

.whatsapp {
    color: black;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.whatsapp:hover {
    color: green;
}

.fa-instagram:hover {
    color: red;
}

.fa-github:hover {
    color: black;
}

.fa-facebook:hover {
    color: blue;
}

.fa-envelope:hover {
    color: rgb(34, 176, 211);
}